body {
  font-family: sans-serif;
}

.Navbar {
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 0px 60px;
  color: white;
  background-color: purple;
  background: linear-gradient(to right,#58298d,#8735ab);
}
.memeGen{
  display: flex;
  align-items: center;
  margin: 0 4px;
}
.meme {
  max-width: 70px;
  background-image:none;
  margin:0 16px 0 0;
}

.inputBoxes {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.inputs {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-color: lightgrey;
}
.meme-button-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Btn {
  width: 82%;
  height: 4rem;
  border-radius: 6px;
  border-style: none;
  background: linear-gradient(to right,#58298d,#8735ab);
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.memeDiv {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

.MemeImg {
  max-width: 100%;
  border-radius: 6px;
}

.memeTextTop {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.memeTextBot {
  position: absolute;
  bottom: 5px;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
