body {
  font-family: sans-serif;
  background-color: rgb(118, 118, 118);
}

.Navbar {
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 0px 60px;
  color: white;
  background-color: purple;
  background: linear-gradient(to right,#58298d,#8735ab);
}
.memeGen{
  display: flex;
  align-items: center;
  margin: 0 4px;
}
.meme {
  max-width: 70px;
  background-image:none;
  margin:0 16px 0 0;
}

.inputBoxes {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.inputs {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-color: lightgrey;
}
.meme-button-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.save-meme-button-div{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Btn {
  width: 82%;
  height: 4rem;
  border-radius: 6px;
  border-style: none;
  background: linear-gradient(to right,#58298d,#8735ab);
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.memeDiv {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

.MemeImg {
  max-width: 60%;
  border-radius: 6px;
}

.memeTextTop {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.memeTextBot {
  position: absolute;
  bottom: 5px;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.MemeListDiv {
  display: flex;
  position: relative;
  justify-content: center;
<<<<<<< HEAD
  margin: 26px 0;
=======
  margin: 100px 0;
>>>>>>> adding
}
.MemeListImg {
  max-width: 60%;
  border-radius: 6px;
}


.memeListTextTop {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.memeListTextBot {
  position: absolute;
  bottom: 5px;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.buttons {
<<<<<<< HEAD
  display: block;
  position:absolute;
  bottom:-20px;
=======
  display: flex;
  position:absolute;
  bottom:-80px;
>>>>>>> adding
}
.DelMemeBtn {
  text-align: center;
  border-radius: 8px;
<<<<<<< HEAD
=======
  margin: 0 0 0 0;
>>>>>>> adding
}
.EditMemeBtn {
  text-align: center;
  border-radius: 8px;
<<<<<<< HEAD
=======
  margin: 0 0 0 0;
}
.SaveMemeBtn {
  text-align: center;
  border-radius: 8px;
  margin: 0 0 0 0;
}

.MemeEditText{
  
}

.newInputForm{

}

.editInputBoxes{
  display: block;
  position: relative;
}

.inputsTop{
  font-size: 30px;
  height: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-color: lightgrey

}
.inputsBottom{
  font-size: 30px;
  height: 50px;
  border-radius: 10px;
  border-width: 3px;
  border-color: lightgrey

}

.editListTop{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;

}
.editListBottom{
  position: absolute;
  bottom: 5px;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
>>>>>>> adding
}

/* top:50%;
  left: 50%;
  transform: translate(-50%, -50%) ; */