.App {
  text-align: center;
  
}
.form {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 8px;
  height: 26rem;
}

.form > input {
  border: solid black 2px;
}

.firstLine {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.firstLine > input {
  border: solid black 2px;
}
.firstName{
  margin: 10px 20px;
  width: 40%;
}
.lastName{
  margin: 10px 20px;
  width: 40%;
}


.secondLine{
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.secondLine > input {
  border: solid black 2px;
}
.email {
  margin: 10px 20px;
  width: 40%;
}
.birth{
  margin: 10px 20px;
  width: 40%;
}


.thirdLine{
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
.thirdLine > input {
  border: solid black 2px;
}
.food {
  margin: 10px 20px;
  width: 40%;
}
.phone {
  margin: 10px 20px;
  width: 40%;
}

.textBox{
  width: 81.5%;
  height: 10rem;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  border: solid black 2px;
}


.button {
  width:10%;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 16px;
  border: solid black 2px;
  border-radius: 6px;
  height: 1.8rem;
}
.container {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
  border: 2px solid #444;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: left;
}
.header{
  background: #444;
  grid-column: 1 / -1;
  text-indent: 10px;
  padding:4px;
  font-size: larger;
  color: azure;
  font-weight: 700;
  text-align: left;
}
.box{
  grid-column: 1 / -1;
  height: 10rem;
  margin-left: 35px;
  margin-right: 35px;
  font-family: "Karla", sans-serif;
  border: 2px solid #444;
  text-indent: 15px;
  margin-bottom: 55px;
  text-align: left;
  margin-top: 5px;
}
.Text{
  margin-left: 40px;
}